.footer {
    justify-content: center;
    align-items: center;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: flex-start;
}

.footer-content .footer-col {
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    margin-left: 10%;
    /* text-align: left; */

}

.footer-content .footer-col strong {
    font-size: large;
    color: #ff9a9e;
    ;

}

.footer-content .footer-col ul {
    list-style: none;
    font-size: medium;
    line-height: 30px;
    text-align: left;
}


.footer-content .footer-col:first-child {
    flex: 3;
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    margin-left: 10%;

}

.footer-content .footer-col:last-child {
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    margin-left: 10%;


}

.footer-content .footer-col .footer-desc {
    font-size: small;
    color: #333;
}


.footer-content .footer-col .touch {
    text-align: left;
}

.footer-content .footer-col .touch strong {
    font-size: large;
    color: #ff9a9e;
}

.footer-content .footer-col .touch .detail {
    font-size: medium;
}

.copyright {
    text-align: center;
    font-size: small;
    margin-bottom: 1%;
}


.footer-links ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

}

.footer-links ul li a:hover {
    cursor: pointer;
    color: #ff9a9e;
    transition: color 0.3s ease;
}